prettytable
tabulate
seaborn
click
pydot
statannotations
pingouin

# Templating
pml
Jinja2

# WSI libraries
torchstain
python-bioformats
h5netcdf
transformers
tiffslide

# Ray
ray[default]
numpy<1.24 # for ray
scikit-learn==1.0.2

# JAX tools
jax
#jaxlib requires reinstall
optax
flax
jraph
tensorboardx
orbax
jaxtyping

# Dev tools
ipyplot
humanize
icecream
black
jupyter
tqdm
jupyterlab
jupyterlab_code_formatter
pdf2image
pdfminer.six
openpyxl
pytest
hypothesis
isort
netcdf4
