prettytable
tabulate
seaborn
click
pydot
statannotations
pingouin


# Templating
pml
Jinja2

# WSI libraries
torchstain
#python-bioformats
h5netcdf
xarray
transformers
tiffslide
tifffile>=2022.10.10
wsiml
#gast==0.3.3 # downgrade necessary for tensorflow 2.4, Jan 1/2023


#protobuf==3.20.1  # for tensorflow (why???)

# Ray
#ray[default]
#numpy<1.24 # for ray
scikit-learn

# JAX tools
# jax
# jaxlib --find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# optax
# flax
# jraph
# tensorboardx
# orbax
# jaxtyping

# Dev tools
ipyplot
humanize
icecream
black
jupyter
tqdm
jupyterlab
jupyterlab_code_formatter
pdf2image
pdfminer.six
openpyxl
pytest
hypothesis
isort
netcdf4
